html{
    scroll-behavior: smooth;
}
body{
    background: #150E28;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
@media (max-width: 1200px) {
    .hero-section{
        background-image: url("./images/purple-gradient.png");
        background-repeat: no-repeat;
        height: 500px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-title{
        font-style: italic;
        font-weight: 700;
        font-size: 1rem;
    }
    .line{
        margin-top: -1rem;
        margin-left: 12rem;
        width: 115px;
    }
    nav{
        margin: 0;
        padding: 2rem;
    }
    hr{
        border: .4px solid rgba(255, 255, 255, 0.18);
        margin: 0;
    }
    .logo{
        display: inline;
        font-size: 1rem;
    }
    .logo span{
        color: #D434FE;
    }
    .hamburger{
        float: right;
        cursor: pointer;
    }
    .countdown{
        font-family: Unica One;
        font-size: 48px;
        font-weight: 400;
        line-height: 133%; /* 63.84px */
    }
    .countdown span{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 133%;
    }
    .images{
        width: 80%;
        background: #150E28, lightgray -0.057px -5.408px / 105.862% 104.281% no-repeat;
        background-blend-mode: hard-light;
        margin-top: -12rem;
    }
    .shades{
        width: 419.669px;
        height: 362.395px;
        opacity: .6;
    }
    .particles{
        position: absolute;
        width: 378.067px;
        height: 324.889px;
        z-index: 1;
        object-fit: cover;
        top: 2;
        left:0;
        opacity: .5;
    }

}
